.slctcont{
    height: max-content;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10PX;
}
.slctcont label{
    font-size: 1.5em;
    font-weight: 900;
}

.slctcont select{
    color: rgb(0, 0, 0);
    height: 40px;
    outline: none;
    font-weight: 900;
    font-family:serif;
    border-radius: 8px;
}

